.git
.gitignore
.next
**/.next
node_modules
**/node_modules
test-results
**/test-results
playwright-report
**/playwright-report
coverage
**/coverage
dist
build
outputs
*.log
*.tsbuildinfo
.env
.env.*
**/.env
**/.env.*
!.env.example
*.tmp
*.swp
.DS_Store
